<ion-content>
    <ion-card>
        <ion-card-header color="primary">
            <ion-title>WHAT WE GIVE?</ion-title>
        </ion-card-header>

        <ion-card-content class="ion-padding">
            We give latest and nothing but truthfull news. Sports,Entertainment, Wether news all of that we can give you.
            
        </ion-card-content>

        <ion-card-content class="ion-padding">
            
            Contact: 09123456789
            Facebook: SeaBreeze
            Twitter:@SeaBreeze
            Instagram:@SeaBreeze
        </ion-card-content>
       <ion-button color="primary" href="card">Read More</ion-button>
    </ion-card>
</ion-content>