<ion-content>
  <div class="flex center">
    <ion-card-header>
      <ion-card-title color="success">Sea Breeze</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button color="dark" fill="clear" size="full">Forgot password</ion-button>
      <ion-button href="home" color="success" size="full">Log in</ion-button>
      <ion-button href="signup" color="success" size="full">Sign up</ion-button>

    </ion-card-content>
  </div>
</ion-content>

