<ion-header>
  <ion-toolbar color="success">
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input type="first name"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Last Name</ion-label>
  <ion-input type="last name"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="email "></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Create Password</ion-label>
  <ion-input type="create password "></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Confirm Password</ion-label>
  <ion-input type="confirm password "></ion-input>
</ion-item>

<ion-button href="home" color="success" size="full">Sign up</ion-button>

</ion-content>
