<ion-content>
    <ion-card>
        <ion-card-header color="primary">
            <ion-title>Vaccinate people in their sleep, Duterte says to fix hesitancy vs COVID-19 shots</ion-title>
        </ion-card-header>

     <ion-card-content class="ion-padding">
        Metro Manila (CNN Philippines, October 12) — President Rodrigo Duterte suggested a way to reach those who remain hesitant to get a COVID-19 vaccine, which is not mandatory.

        "Iyan ang problema, 'yung ayaw magpabakuna. Kaya hanapin ninyo 'yan sa barangay niyo, akyatin natin pag tulog, at turukin natin ang natutulog para makumpleto ang istorya," he said in a taped address that aired on Tuesday morning.
        
        "Kung ayaw ‘di akyatin sa bahay. Tusukin natin sa gabi. Ako ang mag-ano. I will lead the journey," added Duterte, who is known for his deadpan jokes and controversial remarks.
        
        [Translation: The problem is those who don't want to get vaccinated. Look for them in your village, let's go there while they're asleep and inject them while asleep so we can get it done. If they don't want, let's go in their houses and inject them when night falls. I'll do it, I'll lead the journey.]
        
        The Department of Health has repeatedly stressed that vaccination is not mandatory. All vaccinations require informed consent.
        
        Duterte, in the same speech, took the blame for the shortage of COVID-19 vaccines at the start of the year, saying he was helpless because the government cannot find any company that would sell to the Philippines.
        
        The country formally started its COVID-19 vaccination drive last March 1, over a year since the first COVID-19 case was registered and the last to launch such initiative in Southeast Asia.


     </ion-card-content>   

     <ion-card-header class="primary">
         <ion-title>Philippines reopens cinemas, gyms in capital to boost jobs</ion-title>
     </ion-card-header>

     <ion-card-content class="ion-padding">
        MANILA: The Philippines will allow cinemas and gyms to reopen in the capital Manila, an official said on Thursday (Oct 14), after a sharp fall in the daily number of coronavirus infections and increased vaccinations.

        Restrictions have been eased in recent weeks as the government shifts its focus to getting people back to work and easing the economic misery caused by hard lockdowns. "We must pay attention to job creation at this time," presidential spokesman Harry Roque told a news conference.

        Cinemas and gyms, which have been closed for most of the pandemic, will be allowed to resume limited operations on Saturday for fully vaccinated people.
        
        Maximum allowed capacities for restaurants, churches and beauty salons were raised to 30 per cent, as the metropolis was lowered to the third-highest alert level.
        
        Nearly 80 per cent of the adult population in the capital has been fully vaccinated, compared with just more than 30 per cent for the entire country, according to official data.
        
        Nationwide virus cases hit a record high of 26,303 on Sep 11, fuelled by the hyper-contagious Delta variant, but for the past four days have fallen below 9,000. Hospital bed occupancy rates in COVID-19 wards and intensive care units have dropped to below 60 per cent, data showed.

        But the World Health Organization's (WHO) representative in the Philippines called for "very clear" messaging about restrictions to avoid "putting people's lives at risk".
        
        "It's not about relaxing or reducing the restrictions - it's about calibrating," Rabindra Abeyasinghe, the WHO's official in the country, told the same news conference.
        
        Social distancing and mask-wearing, even among fully vaccinated people, were "critically important to maintain the gains and further strengthen the transmission reduction".
        
        Lockdowns and other measures have shattered the Philippine economy and thrown millions out of work.
     </ion-card-content>
    </ion-card>

</ion-content>